{% extends 'tables/base.html' %}
{% block content %}
{% load widget_tweaks %}

<div class="container add-address">
  <h1>Add Address</h1>
  <h2>{{ note }}</h2>

  {% if form %}
  <form method="post" action="{% url 'add_address' customer_id %}">
      {% csrf_token %}

          <div class="form-group">
              {% for field in form %}

                  {{ field.errors }}
                  {{ field.label_tag }}
                  {% render_field field class="form-control" %}

              {% endfor %}
          </div>

      <button type="submit" class="standardButton">Add Address</button>
  </form>
</div>
{% endif %}

{% endblock %}
