{% extends 'tables/base.html' %}
{% block content %}
{% load widget_tweaks %}

<div class="container edit-address">
  <h1>Edit Address</h1>
  <h2>{{ note }}</h2>

  <form method="post" action="{% url 'edit_address' address.id %}">
    {% csrf_token %}
    <div class="form-group">
      {% for field in form %}
      {{ field.errors }}
      {{ field.label_tag }}
      {% render_field field class="form-control" %}
      {% endfor %}
    </div>
    <button type="submit" class="standardButton">Accept Changes</button>
    <a href="{% url 'user-profile' %}" ><button type="button" class="standardButton">Go Back to Profile</button></a>
  </form>
</div>

{% endblock %}
