{% extends 'tables/base.html' %}
{% block content %}
{% load index %}

<div class="container order-history">
  <h3>Order History</h3><br>
  {% if order_list|length < 0 %}
  <h4>You do not have any past orders.</h4>
  {% endif %}
  <div class="list">
    {% for order in order_list %}
    <div class="order">
      <h5>{{ order.0.restaurant }}</h5>
      <h5>Ordered on: {{ order.0.ordered_date }}</h5>
      <h5>Sent to: {{ order.0.shipping_address }}</h5>

      <b class="item">Item</b>
      <b class="price">Price</b>
      {% for order_item in order|index:1 %}
      <a class="item">{{order_item.item.name}}</a>
      <a class="price">{{order_item.quantity}} x ${{order_item.item.price}}</a>
      {% endfor %}
      <b class="item">Total:</b>
      <a class="price">${{ order|index:2 }}</a>
      <a href="{% url 'review' order.0.id %}" id="review"><button type="button"
        class="button buttonCancel">Leave a review</button></a>
    </div>
    {% endfor %}
  </div>

  <a href="{% url 'user-profile' %}"><button type="button"
    class="button buttonCancel">Go Back </button></a>
</div>
<br><br><br><br>

{% endblock %}
