{% extends 'tables/base.html' %}
{% block content %}

{% load widget_tweaks %}

<div class="container">
  {% csrf_token %}

  <h4> {{ note }} </h4>
  <h3>My Profile</h3>
  <p>Name: {{ customer.first_name }} {{customer.last_name}}</p>
  <p>Phone Number: {{ customer.phone_number }}</p>
  <a href="{% url 'edit_customer' %}"><button type="button">Edit Profile</button></a>
</div>

  {% for address in addresses %}
  <br>
  <div class="container">
  <p>{{ address.nickname }}:</p>
  <p>&ensp;&ensp;{{ address.street }}, {{ address.city }}</p>
  <p>&ensp;&ensp;{{ address.state }} {{ address.zipcode }}</p>
  <a href="{% url 'edit_address' address.id %}" ><button type="button">Edit Address</button></a>
  <a href="{% url 'delete_address' address.id %}" ><button type="button">Delete Address</button></a>
  <br>
  </div>
  {% endfor %}

<div class="container">
    <form class="" action="{% url 'edit_customer' %}" method="get">
  {{ form }}
  <input type="submit" name="" value="Get Pizzas">
</form>
</div>

  <!-- {% for food_style in food_styles %}
  <br>
  <div class="">
      <p>{{ food_style.style_name }}</p>
      <br>
  </div>
  {% endfor %} -->

  <br>
  <div class="container">
    {% if addresses|length < 5 %}
    <a href="{% url 'add_address' customer.id %}" ><button type="button">Add New Address</button></a>
    {% endif %}
  </div>

{% endblock %}
