html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background: orange;
}

/* text styling
================================================*/
.boldfont {
  font-family: 'Georgia';
  font-size: 25px;
  font-weight: bold;
}

.underline {
  font-family: 'Lobster';
  font-size: 60px;
  text-decoration: underline;
  text-align: center;
}

/* button styling
================================================*/
.leftAlignButton {
  display: flex; justify-content: flex-end;
  padding: 10px;
}

.standardButton {
  font-family: 'Abril Fatface', cursive;
  background-color: orange;
  border-style: solid;
  border-color: black;
  color: black;
}
