html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background: orange;
}

/* base.html
================================================*/
.base-box {
  background: #FB3600; /* rbg(251,54,0) orange*/
}
.base-box a {
  font-family: 'Abril Fatface', cursive;
  background: black;
  color: #E2E2E2; /* white grey */
  padding: 5px 10px;
  border-radius: 10px;
}
.base-box a:hover {
  font-weight: bold;
  text-decoration: none;
}
.base-box h5 a {
  font-family: 'Luckiest Guy', cursive;
  font-size: 200%;
}

/* home.html
================================================*/
@media (min-width: 800px) {
  .dashboard .pricing-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .dashboard .pricing-header p {
    font-size: 50px;
    margin: 20px;
    margin-top: 40px;
  }
  .dashboard .pricing-header .ordering {
    background-color: #E2E2E2; /* rbg(251,54,0) orange*/
    flex: 1 1 50%;
    flex-wrap: wrap;
  }
}
@media (max-width: 799px) {
  .dashboard .pricing-header img {
    opacity: 0.3;
  }
  .dashboard .pricing-header .ordering:first-of-type {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .dashboard .pricing-header p {
    font-size: 25px;
    color: white;
  }
}
.dashboard .pricing-header p {
  font-family: 'Playball', cursive;
  font-weight: bold;
  text-align: center;
}
.dashboard .pricing-header button {
  font-family: 'Abril Fatface', cursive;
}
.dashboard .pricing-header button:hover {
  font-weight: bold;
  text-decoration: none;
}
.dashboard .container {
  margin-top: 20px;
}

/* user-profile.html
================================================*/
.profile > .container {
  border-bottom: 5px solid #343434;
  padding: 40px 40px;
}
.profile > .container:last-of-type {
  border-bottom: none;
}
.profile .container h3 {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  text-align: center;
  text-decoration: underline;
}
.profile .container button {
  font-family: 'Abril Fatface', cursive;
  background-color: orange;
  border-style: solid;
  border-color: black;
  color: black;
}

/* signup.html
================================================*/
.signup h2 {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  text-align: center;
}

/* login.html
================================================*/
.log-in h1 {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  text-align: center;
}

/* edit_customer.html
================================================*/
.edit-customer h1 {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  text-align: center;
}

/* edit_address.html
================================================*/
.edit-address h1 {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  text-align: center;
}

/* add_address.html
================================================*/
.add-address h1 {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  text-align: center;
}

/* address.html
================================================*/
.address h1 {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  text-align: center;
}

/* customer_registration.html
================================================*/
.customer-registration h1 {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  text-align: center;
}

/* text styling
================================================*/
.boldfont {
  font-family: 'Georgia';
  font-size: 25px;
  font-weight: bold;
}

.underline {
  font-family: 'Lobster';
  font-size: 60px;
  text-decoration: underline;
  text-align: center;
}

/* button styling
================================================*/
.leftAlignButton {
  display: flex; justify-content: flex-end;
  padding: 10px;
}

.standardButton {
  font-family: 'Abril Fatface', cursive;
  background-color: orange;
  border-style: solid;
  border-color: black;
  color: black;
}
