/* base.html
================================================*/
.base-box {
  background: #FB3600; /* rbg(251,54,0) orange*/
}
.base-box a {
  font-family: 'Abril Fatface', cursive;
  background: black;
  color: #E2E2E2; /* white grey */
  padding: 5px 10px;
  border-radius: 10px;
}
.base-box a:hover {
  font-weight: bold;
  text-decoration: none;
}
.base-box h5 a {
  font-family: 'Luckiest Guy', cursive;
  font-size: 200%;
}
