/* cart.html
================================================*/
.cart-page h2 {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  text-align: center;
}

.cart-page #order-list {
  display: grid;
}
@media (min-width: 770px) {
  @media (max-width: 1099px) {
    .cart-page #order-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 1100px) {
    .cart-page #order-list {
      grid-template-columns: repeat(3, 1fr);
      margin-left: 0;
    }
  }
}

.cart-page #order-item {
  display: grid;
  grid-template-columns: 150px 1fr;
  background-color: white;
  border-style: solid;
  border-radius: 5px;
  margin: 5px;
}
.cart-page #order-item img {
  padding: 5px;
  border-right: solid;
}

.cart-page #order-info div:first-child {
  font-family: 'Fredoka One', cursive;
  font-weight: bold;
  color: white;
  background-color: blue;
  margin: 5px;
  border-radius: 12px;
  text-align: center;
}

.cart-page #order-info div {
  margin-left: 5px;
}

.cart-page .bottom-cart div {
  display: grid;
  grid-column: 1fr;
  text-align: right;
}
.cart-page .bottom-cart {
  border-bottom: 5px solid #343434;
  border-top: 5px solid #343434;
  padding: 10px 0;
}
.cart-page button {
  font-family: 'Chewy', cursive;
  font-size: 20px;
  border-radius: 20px;
  transition-duration: 0.4s;
  background-color: #401F3E; /* Dark Purple */
  color: white;
}
.cart-page button:hover {
  background-color: white;
  color: #401F3E; /* Dark Purple */
}
.cart-page input {
  font-family: 'Abril Fatface', cursive;
  background-color: orange;
  border-style: solid;
  border-color: black;
  width: 15%;
  text-align: left;
}
.cart-page label {
  font-family: 'Abril Fatface', cursive;
  background-color: orange;
}

.cart-page .hide {
  display: none;
}
