/* cart.html
================================================*/
.cart-page h2 {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  text-align: center;
}

.cart-page .categories .category {
  text-align: center;
}
.cart-page .categories .money {
  text-align: right;
}
.cart-page .categories .name {
  margin-left: 20px;
  text-align: left;
}
.cart-page .categories {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.cart-page a:hover {
  text-decoration: none;
  color: pink;
}
.cart-page .notes {
  margin-left: 40px;
}

.cart-page .bottom-cart div {
  display: grid;
  grid-column: 1fr;
  text-align: right;
}
.cart-page .bottom-cart {
  border-bottom: 5px solid #343434;
  border-top: 5px solid #343434;
  padding: 10px 0;
}
.cart-page button {
  font-family: 'Abril Fatface', cursive;
  font-size: 18px;
}
.cart-page input {
  font-family: 'Abril Fatface', cursive;
  background-color: orange;
  border-style: solid;
  border-color: black;
  width: 15%;
  text-align: left;
}
.cart-page label {
  font-family: 'Abril Fatface', cursive;
  background-color: orange;
}

.cart-page .hide {
  display: none;
}
