/* checkout.html
================================================*/
.checkout h1 {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  text-align: center;
}
.checkout .hide {
  display: none;
}
.checkout div {
  padding: 5px 5px;
}

.checkout .form-group {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}
.checkout .form-group input:first-of-type {
  grid-column-start: 1;
  grid-column-end: 5;
}
.checkout .info button {
  float: right;
}

.checkout .bill h2 {
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
  text-decoration: underline
}
.checkout .bill h3 {
  font-family: 'Itim', cursive;
  font-size: 20px;
  text-align: center;
}

.checkout .bill p {
  text-align: center;
}

.checkout .bill {
  background: white;
  padding: 10px;
  border-radius: 5px;
  border-style: dashed;
  border-width: 2px;
}
.checkout .bill div {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.checkout .bill div a {
  text-align: right;
}
.checkout .bill div .total {
  margin-top: 10px;
  border-top: 2px solid #343434;
}
.checkout .bill div a:last-of-type {
  font-weight: bold;
}

@media (min-width: 980px) {
  .checkout {
    display: grid;
    grid-template-columns: 3fr 2fr;
  }
  .checkout .title {
    grid-column-start: 1;
    grid-column-end: 6;
  }
}
