/* restaurant_view.html
================================================*/
.restaurant-view button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-family: 'Abril Fatface', cursive;
  font-size: 18px;
}

.restaurant-view button:hover {
  opacity: 0.7;
}
.restaurant-view button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-family: 'Abril Fatface', cursive;
  font-size: 18px;
}
.restaurant-view .hide {
  display: none;
}
.restaurant-view label {
  font-family: 'Abril Fatface', cursive;
  background-color: orange;
  border-style: solid;
  border-color: black;
}
.restaurant-view .quantity-line {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.restaurant-view p .orange {
  background-color: orange;
}
