{% extends 'tables/base.html' %}
{% block content %}
{% load widget_tweaks %}

<div class="container">
<h1>Edit Customer Info</h1>
<h2>{{ note }}</h2>

<form method="post" action="{% url 'edit_customer'%}">
    {% csrf_token %}

        <div class="form-group">
            {% for field in form %}

                {{ field.errors }}
                {{ field.label_tag }}
                {% render_field field class="form-control" %}

            {% endfor %}
        </div>

    <button type="submit">Accept Changes</button>
</form>
</div>


{% endblock %}
