{% extends 'tables/base.html' %}
{% block content %}

<div class="container">
  {% load static %}

  <h3>My Profile</h3>
  <p>Name: {{ customer.first_name }} {{customer.last_name}}</p>
  <p>Phone Number: {{ customer.phone_number }}</p>
  <a href="{% url 'edit_customer' %}"><button type="button">Edit Profile</button></a>
</div>

  {% for address in addresses %}
  <br>
  <div class="container">
  <p>{{ address.nickname }}:</p>
  <p>&ensp;&ensp;{{ address.street }}, {{ address.city }}</p>
  <p>&ensp;&ensp;{{ address.state }} {{ address.zipcode }}</p>
  <a href="{% url 'edit_address' address.id %}" ><button type="button">Edit Address</button></a>
  </div>
  {% endfor %}
{% endblock %}
