{% extends 'tables/base.html' %}
{% block content %}
{% load static %}

<div class="container cart-page">
  <h2>My Munch Cart</h2>
  <div class="categories">
    <div class="category"><b>Item</b></div>
    <div class="category"><b>Quantity (between 1 and 20)</b></div>
    <div class="category"><b>Total Price</b></div>
  </div>

  <br>

    <a href="#">Restaurant Name (Click to add other item from this restaurant)</a>
    <div class="categories item-list">
      <div class="category name"><a>Item Name</a></div>
      <div class="category"><input type="number" id="quantity" name="quantity" min="1" max="20"></div>
      <div class="category money"><a>$money</a></div>
    </div>
    <div class="categories item-list">
      <div class="category name add-on"><a>Option/Choice/Add-on: bla bla bla</a></div>
      <div class="category"></div>
      <div class="category money"><a>+$money</a></div>
    </div>
    <div class="notes">
      <a class="show" id="hrefid" href="#" onclick="clickAddNote()">Click to Add Note</a>
      <input class="hide" type="text" id="textboxid" onsubmit="enterNote()">
    </div>

  <br>
  <a class="show" id="href" href="#" onclick="clickAddInstructionNote()">Click to Add Note</a>
  <input class="hide" type="text" id="textbox" onsubmit="enterInstructionNote()">

  <div class="bottom-cart">
    <div><b>Subtotal: $money</b></div>
    <div><b>Tax (9%): +$money</b></div>
    <div><b>Total: $money</b></div>
  </div>

  <br>
  <p align="right">
    <a href="{% url 'cart' %}"><button>Save Changes</button></a>
    <a href="{% url 'checkout' %}"><button>Save and Checkout</button></a>
  </p>
</div>

{% endblock %}
