{% extends 'tables/base.html' %}
{% block content %}
{% load widget_tweaks %}

<div class="container checkout">
  <div class="title"><h1>Checkout</h1></div>
  <h2>{{ note }}</h2><br>
  <div class="info">
    <form method="post" action="{% url 'checkout' %}">
      {% csrf_token %}
      <br>
      <h2>Billing Address:</h2>
      <div class="form-group billing">
        {% for field in form %}
        <div>
          {{ field.errors }}
          {{ field.label_tag }}
          {% render_field field class="form-control" %}
        </div>
        {% endfor %}
      </div><br><br>
      <button type="submit" class="standardButton" align=right>Confirm Purchase</button>
        <!-- <div class="">
          {{ form.shipping_address }}
        </div>
        <div class="">
          {{ form.shipping_city }}
        </div>
        <div class="">
          {{ form.shipping_state }}
        </div>
        <div class="">
          {{ form.shipping_zip }}
        </div>

      {{ form }}<br><br><br>
      {{ form.same_billing_address.label_tag }} {{ form.same_billing_address }}<br>
      {{ form.set_default_shipping.label_tag }} {{ form.set_default_shipping }} -->

      <!-- <br>
      <h2>Delivery Address:</h2>
      <div class="form-group delivery">
        {% for field in delivery %}
        <div>
          {{ field.errors }}
          {{ field.label_tag }}
          {% render_field field class="form-control" %}
        </div>
        {% endfor %}
      </div> -->

      <br>
    </form>
    <br>
  </div>

  <div class="bill">
    <h2>Order Bill</h2>
    <div>
      {% for restaurant, total_price in order_list.items %}
      <b>{{ restaurant }}</b>
      <a>${{ total_price }}</a>
      {% endfor %}
      <b class="total">Total:</b>
      <a class="total">${{ total }}</a>
    </div>
    <br>

  </div>
</div>

<br><br><br><br>
{% endblock %}
