<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Table Contents</title>

<link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/album/">

<!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/4.4/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/4.4/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/4.4/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon.ico">
<meta name="msapplication-config" content="/docs/4.4/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#563d7c">


<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
<!-- Custom styles for this template -->
<link href="album.css" rel="stylesheet">

<link href="_css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>Table Contents</h1>
    </div>
  </section>
<article role="article">
    <section>
        <caption>
            <h3 id="named">Address Table </h3>
        </caption>
        <table border="1" margin="10" cellspacing="0" cellpadding="5" >
            <tr>
                <th scope="col"> Street </th>
                <th scope="col"> City </th>
                <th scope="col"> State </th>
                <th scope="col"> Zipcode </th>
            </tr>
            {% for address in addresses.all %}
            <tr>
                <td class="center"> {{ address.street }} </td>
                <td> {{ address.city }} </td>
                <td> {{ address.state }} </td>
                <td> {{ address.zipcode }} </td>
            </tr>
            {% endfor %}
        </table>
    </section>

    <section>
        <caption>
            <h3 id="named">Item Table </h3>
        </caption>
        <table border="1" margin="10" cellspacing="0" cellpadding="5" >
            <tr>
                <th scope="col"> Name </th>
                <th scope="col"> Price </th>
                <th scope="col"> Menu ID </th>
                <th scope="col"> Is Spicy </th>
            </tr>
            {% for item in items.all %}
            <tr>
                <td class="center"> {{ item.name }} </td>
                <td> {{ item.price }} </td>
                <td> {{ item.menu_id }} </td>
                <td> {{ item.is_spicy }} </td>
            </tr>
            {% endfor %}
        </table>
    </section>

    <section>
        <caption>
            <h3 id="named">Customer Table </h3>
        </caption>
        <table border="1" margin="10" cellspacing="0" cellpadding="5" >
            <tr>
                <th scope="col"> First Name </th>
                <th scope="col"> Last Name </th>
                <th scope="col"> Phone Number </th>
            </tr>
            {% for customer in customers.all %}
            <tr>
                <td class="center"> {{ customer.first_name }} </td>
                <td> {{ customer.last_name }} </td>
                <td> {{ customer.phone_number }} </td>
            </tr>
            {% endfor %}
        </table>
    </section>

    <section>
        <caption>
            <h3 id="named">Customer-Address Table </h3>
        </caption>
        <table border="1" margin="10" cellspacing="0" cellpadding="5" >
            <tr>
                <th scope="col"> Customer ID </th>
                <th scope="col"> Address ID </th>
            </tr>
            {% for customer_address in customer_addresses.all %}
            <tr>
                <td class="center"> {{ customer_address.customer_id }} </td>
                <td> {{ customer_address.address_id }} </td>
            </tr>
            {% endfor %}
        </table>
    </section>

    <section>
        <caption>
            <h3 id="named">Customer-Payment Table </h3>
        </caption>
        <table border="1" margin="10" cellspacing="0" cellpadding="5" >
            <tr>
                <th scope="col"> Customer ID </th>
                <th scope="col"> Payment ID </th>
            </tr>
            {% for customer_payment in customer_payments.all %}
            <tr>
                <td class="center"> {{ customer_payment.customer_id }} </td>
                <td> {{ customer_payment.payment_id }} </td>
            </tr>
            {% endfor %}
        </table>
    </section>

    <section>
        <caption>
            <h3 id="named">Customer-Style-Preference Table </h3>
        </caption>
        <table border="1" margin="10" cellspacing="0" cellpadding="5" >
            <tr>
                <th scope="col"> Customer ID </th>
                <th scope="col"> Style ID </th>
            </tr>
            {% for customer_style_preference in customer_style_preferences.all %}
            <tr>
                <td class="center"> {{ customer_style_preference.customer_id }} </td>
                <td> {{ customer_style_preference.style_id }} </td>
            </tr>
            {% endfor %}
        </table>
    </section>

    <section>
        <caption>
            <h3 id="named">Food Style Table </h3>
        </caption>
        <table border="1" margin="10" cellspacing="0" cellpadding="5" >
            <tr>
                <th scope="col"> Style Name </th>
            </tr>
            {% for food_style in food_styles.all %}
            <tr>
                <td class="center"> {{ food_style.style_name }} </td>
            </tr>
            {% endfor %}
        </table>
    </section>

    <section>
        <caption>
            <h3 id="named">Item-Style Table </h3>
        </caption>
        <table border="1" margin="10" cellspacing="0" cellpadding="5" >
            <tr>
                <th scope="col"> Item ID </th>
                <th scope="col"> Style ID </th>
            </tr>
            {% for item_style in item_styles.all %}
            <tr>
                <td class="center"> {{ item_style.item_id }} </td>
                <td> {{ item_style.style_id }} </td>
            </tr>
            {% endfor %}
        </table>
    </section>

 <section>
        <caption>
            <h3 id="named">Menu Table </h3>
        </caption>
        <table border="1" margin="10" cellspacing="0" cellpadding="5" >
            <tr>
                <th scope="col"> Menu ID </th>
                <th scope="col"> Restaurant ID </th>
            </tr>
            {% for menu in menus.all %}
            <tr>
                <td class="center"> {{ menu.menu_id }} </td>
              	<td> {{menu.restaurant_id }} </td>
            </tr>
            {% endfor %}
        </table>
    </section>

 <section>
        <caption>
            <h3 id="named">Payment Table </h3>
        </caption>
        <table border="1" margin="10" cellspacing="0" cellpadding="5" >
            <tr>
                <th scope="col"> Card Number </th>
                <th scope="col"> Card Pin </th>
                <th scope="col"> Expiration Date </th>
            </tr>
            {% for payment in payments.all %}
            <tr>
              	<td class="center"> {{ payment.card_number }} </td>
                <td> {{ payment.card_pin }} </td>
              	<td> {{payment.card_expdate }} </td>
            </tr>
            {% endfor %}
        </table>
    </section>

    <section>
        <caption>
            <h3 id="named">Restaurant Table </h3>
        </caption>
        <table border="1" margin="10" cellspacing="0" cellpadding="5" >
            <tr>
              	<th scope="col"> Name </th>
              	<th scope="col"> Address </th>
              	<th scope="col"> Phone Number </th>
            </tr>
            {% for restaurant in restaurants.all %}
            <tr>
                <td class="center"> {{ restaurant.name }} </td>
              	<td> {{ restaurant.address }} </td>
              	<td> {{ restaurant.phone_number }} </td>
            </tr>
            {% endfor %}
        </table>
    </section>

<section>
        <caption>
            <h3 id="named">Restaurant Styles Table </h3>
        </caption>
        <table border="1" margin="10" cellspacing="0" cellpadding="5" >
            <tr>
                <th scope="col"> Restaurant ID </th>
            		<th scope="col"> Style ID </th>
            </tr>
            {% for restaurant_style in restaurant_styles.all %}
            <tr>
                <td class="center"> {{ restaurant_style.restaurant_id }} </td>
              	<td> {{ restaurant_style.style_id }} </td>
            </tr>
            {% endfor %}
        </table>
    </section>

<section>
        <caption>
            <h3 id="named">Reviews Table </h3>
        </caption>
        <table border="1" margin="10" cellspacing="0" cellpadding="5" >
            <tr>
            	<th scope="col"> Text </th>
              <th scope="col"> Stars </th>
              <th scope="col"> Customer ID </th>
              <th scope="col"> Restaurant ID </th>
            </tr>
            {% for review in reviews.all %}
            <tr>
                <td class="center"> {{ review.text }} </td>
              	<td> {{ review.stars }} </td>
              	<td> {{ review.customer_id }} </td>
              	<td> {{ review.restaurant_id }} </td>
            </tr>
            {% endfor %}
        </table>
    </section>

</article>
</main>

</body>
</html>
