{% extends 'tables/base.html' %}
{% block content %}
{% load index %}

<div class="container">
  <h3>Reviews</h3><br>
  {% if review_list|length < 0 %}
  <h4>This restaurant has no reviews.</h4>
  {% endif %}
  <a href="{% url 'restaurantView' restaurant_id %}"><button type="button"
    class="button buttonCancel">Go Back </button></a><br>
  {% for review in review_list %}
  <br>
  <p>{{ review.customer_id.first_name }} - "<b>{{ review.header }}</b>" - {{ review.stars }} stars</p>
  <p>{{ review.text }}</p>
  {% endfor %}
  <!-- <a href="{% url 'restaurantView' restaurant_id %}"><button type="button"
    class="button buttonCancel">Go Back </button></a> -->
</div>
<br><br><br><br>

{% endblock %}
