{% extends 'tables/base.html' %}
{% block content %}
{% load widget_tweaks %}
{% load index %}
{% load static %}

<div class="container restaurant-view">
  <h1>{{ restaurant.name }}</h1>
  <h6>Location: {{ restaurant.address }}</h6>
  <h6>Phone Number: {{ restaurant.phone_number }}</h6>
  <h6>{{ cuisines_str }}</h6><br>
  {% for i in i_amt %}
  <h3>{{ menu_names|index:i }}</h3>
  <div class="album py-5">
    <div class="container">
      <div class="row">
        {% for item in menu_items|index:i %}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{{ item.image.url }}" height="200"></img>
            <div class="card-body">
              <p class="card-text"><b>{{ item.name }}</b> - ${{ item.price }}</p>
              <button class="show" id="btn{{ item.id }}" onclick="clickAddToCart('{{ item.id }}')">Add to Cart</button>
              <div class="quantity-line">
                <div><button class="hide" id="btn-confirm{{ item.id }}" onclick="confirm('{{ item.id }}')">Confirm Amount</button></div>
                <div><input class="hide" type="number" id="quantity{{ item.id }}" name="quantity" min="1" max="20"></div>
              </div>
              <a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<!-- <button>Click Me</button>
<div id="expand"></div>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $("body").click('#hide', function(e) {
    console.log('clicked');
    $("#expand").append("<button>Click me next</button>");
    alert("You clicked a button!");
  });
});

</script> -->
{% endblock %}
