{% extends 'tables/base.html' %}
{% block content %}
{% load widget_tweaks %}
{% load index %}

<div class="container">
<h1>{{ restaurant.name }}</h1>
<h6>Location: {{ restaurant.address }}</h6>
<h6>Phone Number: {{ restaurant.phone_number }}</h6>
{% csrf_token %}
{% for i in i_amt %}
    <h3>{{ menu_names|index:i }}</h3>
    <ul>
        {% for item in menu_items|index:i %}
        <li><b>{{ item.name }}</b> - ${{ item.price }}</li>
        <img src="{{ item.image.url }}" height="300"></img>
        {% endfor %}
    </ul>
{% endfor %}
</div>
{% endblock %}
